{% extends 'base.html.twig' %}

{% set hasNavTabs = true %}

{% block title %}Projets{% endblock %}

{% block navTabs %}
    {{ include('partials/_project_index_header.html.twig') }}
{% endblock %}

{% block body %}
    <main class="w-75 mx-auto mt-5">
        <h2 class="h1 mb-5">{{ filter.label }}</h2>

        <hr class="col-3 col-md-2 mb-5">

        <div class="row">
            {% for project in projects %}
                {{ include('partials/project/_project_card.html.twig') }}
            {% else %}
                <h3 class="text-warning">Aucun projet n'est {{ filter.label | lower }}.</h3>
            {% endfor %}
        </div>
    </main>
{% endblock %}


