{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="w-75 mx-auto mt-5">
        <h4 class="h4 mt-2">{{ user }}</h4>
        <hr>
        {{ include('admin/user/_form.html.twig') }}
    </div>
{% endblock %}