<h1>Bonjour,</h1>

<p>
    Merci de bien vouloir confirmer que vous êtes bien à l'origine de la demande d'accès à l'application de gestion de projet la Junior Entreprise. <br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    <small>Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</small>
</p>

<p>
    Meilleures salutations
</p>
