{% extends 'base.html.twig' %}

{% set hasNavTabs = true %}

{% block title %}{{ client }}{% endblock %}

{% block navTabs %}
    {{ include('partials/admin/clients/_client_tabs_header.html.twig') }}
{% endblock %}

{% block body %}
    <main class="w-75 mx-auto mt-5">
        <h2 class="h1 mb-5">Informations</h2>

        <hr class="col-3 col-md-2 mb-5">


    </main>
{% endblock %}


