<form method="post" class="form-button" action="{{ path('direje.mandate.accept', {'id': mandate.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('direjeAccept' ~ mandate.id) }}">
    <button type="submit" class="btn btn-outline-primary btn-sm">Réccuperer le mandat</button>
</form>
