{% extends 'base.html.twig' %}

{% block title %}Mandat — {{ mandate.uid | strpad(3, '0') }}{% endblock %}

{% block headerBtn %}
    <div class="d-flex gap-2">
        {{include('direction/mandate/_accept_form.html.twig')}}
        {% if not mandate.isDelegated %}{{include('direction/mandate/_refuse_form.html.twig')}}{% endif %}
    </div>
{% endblock %}

{% block body %}
    {{ include('partials/mandate/_show.html.twig') }}
{% endblock %}