{% extends 'base.html.twig' %}

{% set hasNavTabs = true %}

{% block title %}Effectif{% endblock %}

{% block navTabs %}
    {{ include('partials/resources/_resources_nav_header.html.twig') }}
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto mt-5">
    </div>
{% endblock %}