<table align="center" cellpadding="0" cellspacing="0" class="single-button mobile-100w "
       width="100%" style="height: auto;">
    <tbody>
    <tr>
        <td class="content-padding"
            style="padding-left: 40.0px;padding-right: 40.0px;padding-top: 30.0px;">
            <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0"
                   class="inner-button border-true"
                   style="border-width: 2px; border-style: solid; border-color: rgb(229, 9, 20); background-color: rgb(255, 255, 255); min-width: 100%; height: auto;">
                <tbody>
                <tr>
                    <td align="center" class="h5"
                        style="font-family: NetflixSans-Bold , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 700;font-size: 14.0px;line-height: 17.0px;letter-spacing: -0.2px;padding: 14.0px 20.0px;color: rgb(229,9,20);">
                        <a target="_blank" class="h5"
                           href="{{ link }}"
                           style="font-family: NetflixSans-Bold , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 700;font-size: 14.0px;line-height: 17.0px;letter-spacing: -0.2px;text-align: center;text-decoration: none;display: block;color: rgb(229,9,20);">{{ label }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>