<table align="left" cellpadding="0" cellspacing="0" class="copy-table " width="100%"
       style="height: auto;">
    <tbody>
    <tr>
        <td align="left" class="copy p content-padding"
            style="padding-left: 40.0px;padding-right: 40.0px;font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 16.0px;line-height: 21.0px;padding-top: 20.0px;color: rgb(34,31,31);">
            {{ text }}
        </td>
    </tr>
    </tbody>
</table>