<tr>
    <td class="account-info-copy" style="padding-top: 20.0px;">
        <table align="left" cellpadding="0" cellspacing="0"
               class="copy-table account-info-label" width="100%"
               style="height: auto;">
            <tbody>
            <tr>
                <td align="left" class="copy h5 content-padding"
                    style="font-family: NetflixSans-Bold , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 700;font-size: 14.0px;line-height: 17.0px;letter-spacing: -0.2px;color: rgb(34,31,31);padding-left: 20.0px;padding-right: 20.0px;padding-top: 0;">
                    {{ title }}
                </td>
            </tr>
            </tbody>
        </table>
        <table align="left" cellpadding="0" cellspacing="0"
               class="copy-table account-info-content" width="100%"
               style="height: auto;">
            <tbody>
            <tr>
                <td align="left" class="copy p content-padding"
                    style="font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 16.0px;line-height: 21.0px;color: rgb(34,31,31);padding-left: 20.0px;padding-right: 20.0px;padding-top: 4.0px;">
                    <table cellpadding="0" cellspacing="0"
                           style="height: auto;">
                        <tbody>
                        <tr>
                            <td>
                                {{ content }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>