<html style="background-color: rgb(234,234,234);margin-top: 0;padding: 0;margin: 0;">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>mark {
            background-color: #d41c0e;
            color: #fff;
        }</style>
    <style type="text/css"></style>
</head>
<body class="body" style="background-color: rgb(234,234,234);margin-top: 0;padding: 0;margin: 0;">
<div class="hide"
     style="display: none;width: 0;height: 0;max-height: 0;line-height: 0;overflow: hidden;visibility: hidden;">{% block subject %}{% endblock %}<br>
    <div class="hide disabled-plaintext"
         style="display: none;width: 0;height: 0;max-height: 0;line-height: 0;overflow: hidden;visibility: hidden;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
<table bgcolor="#eaeaea" border="0" cellpadding="0" cellspacing="0" class="envelope default "
       style="background-color: rgb(234, 234, 234); height: auto;" width="100%">
    <tbody>
    <tr>
        <td align="center" bgcolor="#eaeaea" class="container"
            style="background-color: rgb(234,234,234);margin-top: 0;">
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="content"
                   style="background-color: rgb(255, 255, 255); width: 500px; height: auto;" width="500">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" class="tracking-pixel disabled-plaintext image"
                               width="100%" style="height: auto;">
                            <tbody>
                            <tr>
                                <td align="center" class="cell tracking-pixel disabled-plaintext content-padding  "
                                    style="padding-left: 40.0px;padding-right: 40.0px;padding-top: 0;"><img
                                            style="max-width: 100%" alt="" border="0"
                                            src=""
                                            width="0"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="shell"><a target="_blank" class="disabled-plaintext"
                                                        href=""
                                                        style="color: inherit;">
                            <table cellpadding="0" cellspacing="0" class="logo image" width="100%"
                                   style="height: auto;">
                                <tbody>
                                <tr>
                                    <td align="left" class="cell logo content-padding  default-top-padding"
                                        style="padding-left: 40.0px;padding-right: 40.0px;padding-top: 20.0px;"><img
                                                style="max-width: 100%" alt="Junior Entreprise" border="0"
                                                src="" width="50"></td> {# -------------------------------------------- #}
                                </tr>
                                </tbody>
                            </table>
                        </a>
                        <table align="left" cellpadding="0" cellspacing="0" class="copy-table " width="100%"
                               style="height: auto;">
                            <tbody>
                            <tr>
                                <td align="left" class="copy h1 content-padding"
                                    style="padding-left: 40.0px;padding-right: 40.0px;font-family: NetflixSans-Bold , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 700;font-size: 36.0px;line-height: 43.0px;letter-spacing: -1.0px;padding-top: 20.0px;color: rgb(34,31,31);">
                                     {% block title %}{% endblock %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table align="left" cellpadding="0" cellspacing="0" class="copy-table " width="100%"
                               style="height: auto;">
                            <tbody>
                            <tr>
                                <td style="padding-top: 25.0px;">
                                    <table bgcolor="{% if subject_header_color is defined %}#{{ subject_header_color }}{% else %}#0071eb{% endif %}" border="0" cellpadding="0" cellspacing="0" class="banner "
                                           style="border-spacing: 0px; height: auto;" width="100%">
                                        <tbody>
                                        <tr>
                                            <td class="content-padding"
                                                style="padding-top: 12.0px;padding-bottom: 12.0px;padding-left: 40.0px;padding-right: 40.0px;"
                                                width="100%">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                       class="gem-copy-table" style="border-spacing: 0px; height: auto;"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left" class="gem-copy _none gem-p "
                                                            style="padding-top: 0;color: rgb(255,255,255);font-family: NetflixSans-Light , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 300;font-size: 16.0px;line-height: 21.0px;font-size: 16.0px;line-height: 21.0px;">{% block subject_header %}{% endblock %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% block content %}{% endblock %}
                        <table align="left" cellpadding="0" cellspacing="0" class="copy-table " width="100%"
                               style="height: auto;">
                            <tbody>
                            <tr>
                                <td align="left" class="copy p content-padding"
                                    style="padding-left: 40.0px;padding-right: 40.0px;font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 16.0px;line-height: 21.0px;padding-top: 20.0px;color: rgb(34,31,31);">
                                    Cet e-mail a été généré automatiquement merci de ne pas y répondre.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table align="left" cellpadding="0" cellspacing="0" class="copy-table " width="100%"
                               style="height: auto;">
                            <tbody>
                            <tr>
                                <td align="left" class="copy h5 medium content-padding"
                                    style="padding-left: 40.0px;padding-right: 40.0px;font-size: 14.0px;line-height: 17.0px;letter-spacing: -0.2px;font-family: NetflixSans-Medium , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;padding-top: 20.0px;color: rgb(34,31,31);">
                                    Junior Entreprise
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" width="100%" style="height: auto;">
                            <tbody>
                            <tr>
                                <td class="divider content-padding"
                                    style="padding-left: 40.0px;padding-right: 40.0px;padding-top: 30.0px;">
                                    <table align="center" cellpadding="0" cellspacing="0" width="100%"
                                           style="height: auto;">
                                        <tbody>
                                        <tr>
                                            <td class="empty divider-border"
                                                style="font-size: 0;line-height: 0;border-style: solid;border-color: rgb(34,31,31);border-width: 1.0px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#ffffff" class="footer-shell"
                        style="background-color: rgb(255,255,255);">
                        <table border="0" cellpadding="0" cellspacing="0" class="footer" width="100%"
                               style="height: auto;">
                            <tbody>
                            <tr>
                                <td align="center" bgcolor="#ffffff" class="footer-shell content-padding"
                                    style="padding-left: 40.0px;padding-right: 40.0px;background-color: rgb(255,255,255);"
                                    valign="top">
                                    <table cellpadding="0" cellspacing="0" class="spacer" width="100%"
                                           style="height: auto;">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0;line-height: 0;padding-top: 40.0px;">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="height: auto;">
                                        <tbody>
                                        <tr>
                                            <td class="footer-icon-wrapper" valign="top">
                                                <table cellpadding="0" cellspacing="0" class="component-image image"
                                                       width="100%" style="height: auto;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" class="cell component-image none  "
                                                            style="padding-top: 0;"><img style="max-width: 100%" alt=""
                                                                                         border="0"
                                                                                         src="" {# -------------------------------------------- #}
                                                                                         width="24"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="footer-copy-wrapper" valign="top">
                                                <table cellpadding="0" cellspacing="0" class="footer-table" width="100%"
                                                       style="height: auto;">
                                                    <tbody>
                                                    <tr>
                                                        <td class="footer-copy-shell" style="padding: 0 0 0 20.0px;">
                                                            <table align="left" cellpadding="0" cellspacing="0"
                                                                   class="copy-table footer-copy" width="100%"
                                                                   style="height: auto;">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="left" class="copy p1 none"
                                                                        style="font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 14.0px;line-height: 18.0px;letter-spacing: -0.25px;color: rgb(164,164,164);padding-top: 0;">
                                                                        <span class="ignore-diff">Des questions&nbsp;? Envoyer un email à <a href="mailto:dimitri.rutz@cpnv.ch">dimitri.rutz@cpnv.ch</a>.</span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table align="left" cellpadding="0" cellspacing="0"
                                                                   class="copy-table footer-copy" width="100%"
                                                                   style="height: auto;">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="left" class="copy legal none"
                                                                        style="font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 11.0px;line-height: 14.0px;letter-spacing: -0.1px;color: rgb(164,164,164);padding-top: 0;">
                                                                        JE CPNV
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table align="left" cellpadding="0" cellspacing="0"
                                                                   class="copy-table footer-copy" width="100%"
                                                                   style="height: auto;">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="left" class="copy legal none"
                                                                        style="font-family: NetflixSans-Regular , Helvetica , Roboto , Segoe UI , sans-serif;font-weight: 400;font-size: 11.0px;line-height: 14.0px;letter-spacing: -0.1px;padding-top: 20.0px;color: rgb(164,164,164);">
                                                                        Cet email est déstiné à qui de droit.
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            {{ include('email/_spacer.html.twig') }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>